:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;
  --borderColor: #164d56;
  --certiLogo: rgba(37, 37, 37, 0.568);
  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeObject: #0099cc;
  --themeDotBorder: #fff;

  --previewBg: rgb(18, 47, 78);
  --previewShadow: #111921;
  --certiLogo: rgba(151, 149, 255, 0.295);
  --buttonColor: #17a2b8;

  --colorSlideSwitch: #c5c5c556;
  --colorSwitch: var(--buttonColor);
}
